body {
    margin: 0;
    padding: 0;

    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

header {
    background-color: white;
    height: 40px;
    text-align: center;
    font-size: 24px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header div {
    display: inline-block;
    margin: 15px 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: calc(100vh - 100px);
    width: 100vw;

}

#button {
    width: 250px;
    height:  250px;
    border-radius: 95%;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1815517933633865406/EAC4F68EE2A581EFA95C6118616DF0712247127C/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-position: center;
    background-size: 82%;
    background-repeat: no-repeat;
    filter: hue-rotate(10deg);
    border: 12px solid rgb(170, 233, 0);
    box-shadow: 0 12px 12px black;
    cursor: pointer;
  box-shadow:0px 0px 5px
}

#button:active {
    filter: hue-rotate(4deg);
    transform: translateY(-3px);
    
}

footer {
    background-color: green;
    height: 100px;
    text-align: center;
    font-size: 100px;
}

footer button {
     background-color:lightblue;
    margin-top: 20px;
    border-radius: 52px;
}

footer button span {
    display: block;
    font-size: 30px;
}

